html {
  overflow-x: hidden;
  width: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  /* height: 100vh; */
}

.header {
  background-color: #1f2937;
  color: #eee;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.header > div {
  margin-left: 15rem;
  margin-right: 15rem;
  margin-top: 1rem;
}

.head {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #eee;
}

li {
  list-style: none;
}

.header_title {
  display: flex;
  justify-content: space-between;
}

.header_title > h1 {
  display: flex;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.header_ul {
  display: flex;
  gap: 12px;
  font-size: 18px;
  color: #e5e7eb;
}

.secondary > p {
  width: 50%;
  text-align: left;
  margin-top: -40px;
  font-size: 18px;
  color: #e5e7eb;
}

.secondary > button {
  background-color: #3882f6;
  color: #eee;
  font-size: 18px;
  font-weight: 700;
  border: 1px;
  border-radius: 17px;
  width: 12%;
  padding: 5px;
}

.section_first {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  flex-direction: column;
}

.section_first > h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #1f2937;
}

.section_div {
  display: flex;
  margin-left: 15em;
  margin-right: 15em;
}

.section_div > div > ul > li > img {
  width: 50%;
  border-radius: 10%;
}

.section_div > div > ul > li > p {
  font-size: 18px;
  color: #1f2937;
}

.section_second {
  background-color: #e5e7eb;
  display: flex;
  padding-top: 6em;
  flex-direction: column;
}

.section_second > p {
  display: flex;
  text-align: center;
  text-align: justify;
  padding-left: 8em;
  padding-right: 8em;
  padding-bottom: 0;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.section_second > h3 {
  display: flex;
  width: 68%;
  margin-top: 0em;
  justify-content: end;
}

.section_third {
  display: flex;
  justify-content: center;
}

.section_third > div {
  display: flex;
  flex-direction: column;
  background-color: #3882f6;
  margin-top: 5em;
  padding-top: 2em;
  padding-left: 6em;
  padding-right: 6em;
  color: #eee;
  margin-bottom: 5em;
  border-radius: 30px;
}

.section_third > div > h5 {
  display: flex;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.section_third > div > p {
  display: flex;
  margin: 0;
  font-size: 18px;
  color: #eee;
}

.section_third > div > button {
  background-color: #3882f6;
  color: #eee;
  font-size: 18px;
  border: 3px solid #eee;
  border-radius: 8px;
  width: 18%;
  align-items: center;
  margin-top: -2em;
  margin-left: 35em;
  margin-bottom: 2.5em;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: #eee;
}

.footer > h4 {
  font-size: 16px;
}

/* Mobile-Friendly Styles */

@media screen and (max-width: 768px) {
  .header > div {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .header_ul {
    display: none;
  }

  .secondary > p {
    width: 100%;
    margin-top: 0;
  }

  .secondary > button {
    width: 30%;
  }

  .section_div {
    margin-left: 1em;
    margin-right: 1em;
  }

  .section_second > p {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 24px;
  }

  .section_third > div {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #3882f6;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    align-items: center;
    justify-items: center;
  }
  
  .section_third > div > button {
    background-color: #3882f6;
    color: #eee;
    font-size: 18px;
    border: 3px solid #eee;
    border-radius: 8px;
    max-width: 100px;
    margin-right: 15em;
    margin-top: 1em;
  }
}
